<h1><%= link_to @product.name, remote: true %> Coffee</h1>

<% if current_user.try(:admin?) %>
  <button><%= link_to "Edit", edit_product_path(@product) %></button>
  <button><%= link_to "Delete", product_path(@product),
  :data => {:confirm => "You sure?",
    :method => "delete"} %></button>
<% end %>

<br>
<%= image_tag(@product.image, class: "coffee-detail-image") %>
<p>Description: <%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Origin: <%= @product.origin %></p>
<p>Variety: <%= @product.variety %></p>

<hr>
