<h1>Coffee Beans</h1>

<% @products.each do |product| %>
    <%= link_to product_path(product), remote: true do %>

    <div id="<%= product.id %>">
      <div class="coffee-bean well">
        <p><%= product.name %></p>
        <p><%= product.description%></p>
        <p><%= number_to_currency product.price %></p>


        <% if current_user %>
          <%= link_to "Add a review", new_product_review_path(product), id: "new_review_link", remote: true %>
        <% end %>


      </div>
    </div>

    <div id="reviews-section">
    </div>
    
    <% end %>

    <%= form_for @order_item do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.number_field :quantity %>
      <%= f.submit "Add to cart" %>
    <% end %>
<% end %>


<% if current_user.try(:admin?) %>
  <button><%= link_to "New Product", new_product_path %></button>
<% end %>
