<h1>Coffee Beans</h1>

<% @products.each do |product| %>
    <%= link_to product_path(product), remote: true do %>

    <div id="<%= product.id %>">
      <div class="coffee-bean well">
        <p><%= product.name %></p>
        <p><%= product.description%></p>

        <% if current_user %>
          <%= link_to "Add a review", new_product_review_path(product), id: "new_review_link", remote: true %>
        <% end %>

        <div id="reviews-section">
        </div>

      </div>
    </div>

    <% end %>
<% end %>
<% if current_user.try(:admin?) %>
  <button><%= link_to "New Product", new_product_path %></button>
<% end %>
